#portal-personaltools {
  background: #388CBA;
  color: #fff;
  top: -20px;
}

#portal-personaltools a {
  color: #fff;
}

#portal-personaltools dd {
  background: #388CBA;
}

#content {
  font-size: 100%;
}

#sidebar, #rightbar {
  margin-top: 12px;
}

.searchSection label {
  display: inline;
}

#edit-bar {
	margin:0 210px 0 240px;
  clear: none;
}

#sidebar li,
#sidebarright li {
  display: block;
}

h2 {
  letter-spacing: normal;
}

#LSResult {
  right: auto;
  margin: 0 0 0 -11em;
}

#LSResult fieldset {
  border-color: #388CBA;
}

.field {
  clear: none;
}

.field label {
  display: inline;
}

div.manage-portlets {
  text-align: center;
}

.portalMessage {
  clear: none !important; 
}

#sidebarright input,
#sidebar input {
  width: auto;
}

.portlet {
  font-size: 100% !important;
}

